@import '../../styles/main'

.second-program-plan
  position: relative
  max-width: calc(50rem)
  padding: 0px 2rem
  margin: auto
  box-sizing: border-box

.second-plan-h1
  text-align: center
  font-style: normal
  font-weight: bold
  font-size: 32px
  line-height: 44px